#legacyViewer {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    margin-bottom: -8px;
    border: 0px none transparent !important;
}

.wdaContent .sapMPageScroll {
    height: 100%;
}

#loader1 {
    position: absolute;
    left: 40%;
    top: 35%;
    border-radius: 20px;
    padding: 25px;
    border: 1px solid #777777;
    background: #ffffff;
    box-shadow: 0px 0px 10px #777777;
}

.legacyViewer>.sapUiHLayoutChildWrapper {
    vertical-align: middle;
}

/*Loading indicator for iframe*/
.loadingIframe {
    background-image: url("images/AjaxLoader.gif");
    background-repeat: no-repeat;
    background-position: center;
}
